.background{
	background-image: url("../img/banner.jpg");
	padding:150px;
	margin-top: 2px;
}
.login-center{
text-align:center;

}
span{
	margin-left: 20px;

}
.login-color{
	color: #fff;
	font-weight: bold;
}
footer{
	padding: 10px;
	background-color: black;
}