*{
	font-family: 'Noto Sans', sans-serif;
	text-decoration: none;
}
/* master laysout */

header {
	margin-bottom: 10px;
	border-bottom: 2px solid;
	color: green;
	padding-bottom: 10px;

}
.logo {
	font-size: 30px;
}
footer{
	margin-top: 10px;
	padding: 10px;
	background-color: #006699;
}
/* end  master laysout*/

/* userinfo */
.f-info {
	background-color: #717D7E;
}
div.info {
	color: #fff;
	text-align: center;
	background-color:#337ab7 ;
	font-size: 16px;
	border: 2px;
	padding: 9px;
	padding-left: 10px;
	margin-bottom: 5px;
}
div.info-action {
	border: 1px solid #337ab7 ;
	font-weight: bold;
	padding: 10px;
}
/* end userinfo */
/* login */
.background{
	background-image: url("../img/banner.jpg");
	padding:150px;
	margin-top: 2px;
}
.login-center{
text-align:center;

}
span{
	margin-left: 20px;

}
.login-color{
	color: #fff;
	font-weight: bold;
}
/* end login */